body {
    font-family: 'Segoe UI', sans-serif;
    background: linear-gradient(135deg, #74ebd5, #ACB6E5);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#weathercontainer {
    width: 300px;
    padding: 20px;
    border-radius: 15px;
    background: white;
    backdrop-filter: blur(10px);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
    color: rgba(0,0,0,0.7);
    text-align: center;
}

#locationName {
    font-size: 2rem;
    /* margin-bottom: 10px; */
}

#temperature {
    font-size: 1.5rem;
    margin: 10px 0;
}

#windspeed {
    font-size: 1.2rem;
    opacity: 0.8;
}